@media only screen and (min-width:38rem) {

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        display: grid;
        grid-template-columns: 24px 1fr auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
        justify-self: end;
        padding: .5rem;
    }

    .navigation ul {
        display: flex;
        gap: 1rem;
    }

    .navigation a {
        border: none;
    }

    .home-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    #members.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

#members.list-view {
    display: block;
}

#members.list-view .member-card {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.join-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.membership-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s forwards;
}

.card:nth-child(1) {
    animation-delay: .2s
}

.card:nth-child(2) {
    animation-delay: .4s
}

.card:nth-child(3) {
    animation-delay: .6s
}

.card:nth-child(4) {
    animation-delay: .8s
}

.discover-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "one two three"
        "four five six"
        "seven eight";
}

.card img:hover {
    transform: scale(1.05);
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

}